@using tg_crud_solution.ViewModels;
@using tg_crud_solution.Models.DataBase; 
@model FounderViewModel

@{
    ViewData["Title"] = Model.Title;
}

<style>
    .clients-wrapper {
        display: flex;
        margin-top: 2%;
        flex-direction: column;
    }

    .tg-page-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tg-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .tg-row-cell {
        width: 15%;
    }

    .tg-add-button {
        margin-top: 1%;
        width: 100%;
    }

</style>

<script>

    

</script>

<div class="tg-page-title">
    <span style="font-weight: bold; font-size: 20pt">Учредители</span>
</div>
<button type="button" class="btn btn-success tg-add-button">добавить</button>

<div class="clients-wrapper">

    @foreach (Founder founder in Model.Founders)
    {
        <div class="tg-row">
            <div class="tg-row-cell">@founder.ID</div>
            <div class="tg-row-cell">@founder.TaxID</div>
            <div class="tg-row-cell">@founder.FullName</div>
            <div class="tg-row-cell">@founder.AddDate</div>
            <div class="tg-row-cell">@founder.UpdateDate</div>
        </div>
    }

 </div>
